<!DOCTYPE html>
<html lang="pt" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;700;900&display=swap" rel="stylesheet">
  <link rel='stylesheet' type='text/css' href='/styles.css' />
  <title>administrador de historinhas</title>
</head>
<body>
  <header class='titulo'> 
    <h1>administrador de historinhas</h1>
  </header>
  <main>
    <form class='formulario' name='f' method='post' th:action="@{/admin/login}">
      <label style="align-items: center;" th:if="${param.error}">
        [usuário ou senha inválidos] 
      </label> 
      <label style="align-items: center;" th:if="${param.logout}">
        [você saiu]
      </label>
      <label for='username'>login
        <input type='text' limit='40' name='username'/>
      </label>
      <label for='password'>senha
        <input type='password' limit='40' name='password'/>
      </label>
      <button type='submit' class='botao'>entrar</button>
    </form>
  </main>
  <!-- <footer class='links'>
    <a href='/'>voltar</a>
  </footer> -->
</body>
</html>